@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    font-size: 35px;
    color: white;
    margin-bottom: 2rem;
}

.header_and_nav {
    overflow: hidden;
    padding: 2rem 1rem;
    position: relative;
    z-index: 1;
}

.header_and_nav:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://www.bakercommunications.com/images/pattern-icons/5.png");
    opacity: .2;
}

.header_and_nav img {
    float: left;
    max-width: 4rem;
    padding-left: 1rem;
}

.header_and_nav a {
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 30px;
    line-height: 2rem;
    border-radius: 0.5rem;
}

.header_and_nav a.app_name {
    font-size: 40px;
    font-weight: bold;
}

.header_and_nav a:hover, .container a:hover {
    color: black;
}

.header_and_nav a.active {
    background-color: black;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 31rem) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

body {
    align-items: flex-start;
    background: #5d9c69;
    color: #ffffff;
    display: grid;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    weight: 100vw;
    padding-bottom: 20%;
}

.container {
    text-align: center;
    align-items: center;
    background: #487952;
    padding: 2rem 2.5rem;
    border-radius: 1rem;
    margin: auto;
    width: 60%;
}

.container a {
    color: white;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    line-height: 1rem;
    border-radius: 0.25rem;
}

.inputbox {
    align-items: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin: 0.25rem;
    width: 80%;
}


.button {
    color: #000000;
    background-color: #e3e3e3;
    display: inline-block;
    border: none;
    padding: 0 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: auto;
    min-width: 5rem;
    height: auto;
    min-height: 2rem;
    outline: none;
    text-indent: 0;
    margin: 0.25rem;
}

.button:hover {
    background-color: #efd36c;
    transition-duration: 0.4s;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0.5rem;
}

.table_header {
    height: 4.5rem;
    border-bottom: 1px solid #ddd;
}

.table_details {
    padding: 0.25rem;
    border-bottom: 1px solid #ddd;
}
