@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {

}

.title_and_logo {
    position: fixed;
    display: inline-flex;
    margin: 25px 15px 15px 50px;
    left: 0;

}

.logo {
    max-width: 60px;
}

.title_logo {
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 1000;
}

body {
    align-items: flex-start;
    background: #5d9c69;
    color: #ffffff;
    display: grid;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    justify-items: center;
    weight: 100vw;
    padding-bottom: 20%;
}

.container {
    align-items: center;

    background: #487952;
    padding: 20px 40px;
    border-radius: 15px;
    margin: 5px;
}


.inputbox {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.button {

    color: #000000;
    background-color: #e3e3e3;
    display: inline-block;
    border: none;
    padding: 0 5px;
    border-radius: 10px;

    margin-right: 10px;
    outline: none;
    height: 30px;
    width: 70px;
    margin: 5px;


}

.button:hover {
    background-color: #f8db71;
    transition-duration: 0.4s;
}

