@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1.startpage {
    color: #141850;
    font-size: 70px;
    font-weight: bold;
}

p.homepage {
    color: #141850;
    font-size: 30px;
}

header{
    font-size: 35px;
    color: #141850;
    height: 7rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
}

.header_and_nav {
    overflow: hidden;
    padding: 2rem 1rem;
    position: relative;
    z-index: 1;
}

.header_and_nav:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://www.bakercommunications.com/images/pattern-icons/4.png");
    opacity: .2;
}

.header_and_nav img {
    float: left;
    max-width: 4rem;
    padding-left: 1rem;
}

.header_and_nav a.nav_button {
    color: #141850;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 30px;
    line-height: 2rem;
    border-radius: 0.5rem;
}

.header_and_nav a.app_name {
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    line-height: 2rem;
    border-radius: 0.5rem;
    font-size: 0;
    font-weight: bold;
}

.header_and_nav a.app_name:before {
    content: 'Shop';
    color: black;
    font-size: 40px;
}

.header_and_nav a.app_name:after {
    content: 'Chop';
    color: #ed7966;
    font-size: 40px;
}

.header_and_nav a.nav_button:hover, .container a:hover {
    color: #ed7966;
}

.header_and_nav a.active {
    color: #ed7966;
    font-weight: bold;
}

.header-right {
    float: right;
}


body {
    align-items: flex-start;
    color: #141850;
    font-size: 14px;
    font-weight: 400;
    display: grid;
    min-height: 100vh;
}

.container {
    text-align: center;
    align-items: center;
    padding: 2rem 2.5rem;
    margin: auto;
    width: auto;
}

.container a {
    color: black;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    line-height: 1rem;
    border-radius: 0.25rem;
}

.mt-3{
    min-height: 100vh!important;
}

.one {
    background-color: #f5cac2;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.inputbox {
    align-items: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin: 0.25rem;
    width: 100%;
}

.button {
    width: 8rem;
    height: 4rem;
    padding: 1rem 2rem;
    border: 0.125rem solid #000;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0.25rem;
}

.button_homepage {
    min-width: 7rem;
    height: 4rem;
    padding: 1rem 2rem;
    border: 0.125rem solid #000;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0.25rem;
}

.button:hover, .button_homepage:hover {
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0.5rem;
}

.table_header {
    height: 4.5rem;
    border-bottom: 1px solid #ddd;
}

.table_details {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.table_empty{
    padding: 5rem;
}

footer{
    background-color: #fae5df;
}

.footer-basic {
    position: relative;
    height: 12.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    color:#141850;
    padding: 2.5rem 0;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    font-weight: bold;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}