<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout (~{::body})}" xmlns:th="https://thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
</head>
<body>

<div class="about-section">
  <h1>About ShopChop</h1>
  <p>We are 2 HTW Berlin students majoring in Business Informatics</p>
  <p>ShopChop envisions to be the next big helper in organizing people's daily lives in their shopping management.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img th:src="@{/pictures/kris.png}" alt="Kris" style="width:100%">
      <div class="container-about">
        <h2>Krisjanis Spridis</h2>
        <p class="title">Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>krisjanis.spridis@student.htw-berlin.de</p>
        <p><button class="button-about">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img th:src="@{/pictures/franccy.jpg}" alt="Franccy" style="width:100%">
      <div class="container-about">
        <h2>Franccy Philip</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>franccy.anakphilip@student.htw-berlin.de</p>
        <p><button class="button-about">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>