<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>Add a new Shopping List!</title>
</head>
<body>
<form method="post" action="#" th:action="@{/add-list}" th:object="${shoppingList}">
    <h1>Add a new Shopping List!</h1>
    <br>
    <h3>List name:</h3>
    <input>type="text" th:field="*{listName}"</input>
    <br>
    <h3>List author:</h3>
    <input>type="text" th:field="*{author}"</input>
    <br>
    <input type="submit" value="submit"/>
</form>
</body>
</html>