<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <title>Add a new Shopping List!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="form_stylesheet.css">
</head>
<body>
<form class="container" action="#" th:action="@{/createlist}" th:object="${shoppingList}" method="post">
    <h1 class="title">Add a new Shopping List!</h1>
    <p> List Name: <input class="inputbox" type="text" th:field="*{list_name}"/></p>
    <p> List Author: <input class="inputbox" type="text" th:field="*{author}"/></p>
    <div class="buttons">
        <p><input class="button" type="submit" value="Submit"/> <input class="button" type="reset" value="Reset"/></p>
    </div>

</form>
</body>
</html>