<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout (~{::body})}" xmlns:th="https://thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<section class="one">
  <h1 class="startpage">ShopChop saves lives</h1>
  <p class="homepage">Life is too short to worry about shopping lists. Live longer with us.</p>
  <button class="button button_homepage" onclick="launchDialog()">Get Started</button>
  <script>
    function launchDialog() {
      Swal.fire({
        title: "What's on your mind?",
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Add new list',
        cancelButtonText: 'Show my lists'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "/createlist"
        } else if (result.dismiss === Swal.DismissReason.cancel) {
          window.location.href = "/alllists"
        }
      }, (error) => {
        console.log('Something went wrong with the alert box.');
      })
    }
  </script>
</section>
</body>
</html>