<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <title>Add a new Shopping List!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="../static/css/form_stylesheet.css">
</head>
<header>
    <div class="title_and_logo">
        <img class="logo" src="../static/pictures/shopping_list.png">
        <p class="title_logo">ShopChop</p>
    </div>
</header>
<body>
<div class="container">
    <h3>List was added!</h3>
    <p th:text="'name: ' + ${shoppingList.list_name}"></p>
    <p th:text="'author: ' + ${shoppingList.author}"></p>
</div>
</body>
</html>