<!DOCTYPE html>
<<html th:replace="~{layout :: layout (~{::body})}" lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <title>Add a new Shopping List!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/form_stylesheet.css}">
    <!-- "../static/css/form_stylesheet.css" for running html file locally-->
    <!-- "@{/css/form_stylesheet.css}" for running html file on server-->
</head>

<body>
<div class="container">
    <h1>List was added!</h1>
    <p th:text="'List: ' + ${shoppingList.list_name}"></p>
    <p th:text="'Author: ' + ${shoppingList.author}"></p>
    <a th:href="@{/alllists}">See all created lists</a>
</div>
</body>

</html>