<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <title>All Shopping Lists</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/form_stylesheet.css}">
    <!--th:href="@{/css/form_stylesheet.css}" -- for website-->
    <!--href=../static/css/form_stylesheet.css-->
</head>

<body>
<header>
    <div class="header_and_nav">
        <a href="/createlist" class="app_name"><img class="logo" th:src=@{/pictures/shopping_list.png}>ShopChop</a>
        <!-- src=../static/pictures/shopping_list.png for running html file locally-->
        <!-- th:src=@{/pictures/shopping_list.png} for running html file on server-->
        <div class="header-right">
            <a class="active" href="#home">Home</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
    </div>
</header>

<div class="container">
    <h1>Here are all the lists created</h1>
    <table class="table">
        <thead>
        <tr>
            <th class="table_header">List Name</th>
            <th class="table_header">List Author</th>
            <th class="table_header">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${slists.isEmpty()}">
            <td colspan="2">No lists available</td>
        </tr>
        <tr th:each="shoppingList : ${slists}">
            <td class="table_details"><span th:text="${shoppingList.list_name}">List Name</span></td>
            <td class="table_details"><span th:text="${shoppingList.author}">List Author</span></td>
            <td class="table_details"><input class="button" type="button" value="View"/><a class="button"
                                                                                           th:href="@{/shoppinglists/remove/${shoppingList.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
<a href="/createlist">Create a new shopping list!</a>
</div>
</body>
</html>