<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <title>Add a new Shopping List!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/form_stylesheet.css}">
    <!-- "../static/css/form_stylesheet.css" for running html file locally-->
    <!-- "@{/css/form_stylesheet.css}" for running html file on server-->
</head>

<body>
<header>
    <div class="header_and_nav">
        <a th:href="@{/createlist}" class="app_name"><img class="logo" th:src=@{/pictures/shopping_list.png}>ShopChop</a>
        <!-- src=../static/pictures/shopping_list.png for running html file locally-->
        <!-- th:src=@{/pictures/shopping_list.png} for running html file on server-->
        <div class="header-right">
            <a href="#home">Home</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
    </div>
</header>

<div class="container">
    <h1>List was added!</h1>
    <p th:text="'name: ' + ${shoppingList.list_name}"></p>
    <p th:text="'author: ' + ${shoppingList.author}"></p>
    <a th:href="@{/alllists}">See all created lists.</a>
</div>
</body>

</html>