<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <title>Add a new Shopping List!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/form_stylesheet.css}">
    <!-- href=../static/css/form_stylesheet.css for running html file locally-->
    <!-- th:href=@{/css/form_stylesheet.css}" for running html file on server-->
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="#" th:src="@{/js/dynamic_list_creation.js}" defer></script>
</head>

<body>
<div class="container">
    <div id="dynamic_list">
        <dynamic_list></dynamic_list>
    </div>
</div>
</body>


</html>