<!DOCTYPE html>
<<html th:replace="~{layout :: layout (~{::body})}" lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <title>All Shopping Lists</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/form_stylesheet.css}">
    <!--th:href="@{/css/form_stylesheet.css}" -- for website-->
    <!--href=../static/css/form_stylesheet.css-->
</head>

<body>
<div class="container">
<!--    <h1 th:text="${shoppingItems.}"></h1> not sure how to implement this, want to show the name of the list on top of the single list table-->
    <table class="table">
        <thead>
        <tr>
            <th class="table_header">Item ID</th>
            <th class="table_header">Item</th>
            <th class="table_header">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${shoppingItems.isEmpty()}">
            <td class="table_empty" colspan="3" rowspan="2">No items available</td>
        </tr>
        <tr th:each="shoppingItems : ${shoppingItems}">
            <td class="table_details"><span th:text="${shoppingItems.item_id}">Item ID</span></td>
            <td class="table_details"><span th:text="${shoppingItems.item_name}">Item</span></td>
            <td class="table_details">
                <form action="#" th:action="@{'/item/remove/{id}'(id=${shoppingItems.item_id})}"
                      th:method="delete">
                    <button class="button" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>