# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\krisj\Desktop\HTW\4. Semester offline unterlagen\Webtech\Projekte\WebTechProjectSoSe2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
